mixin product-item(printer)

    .product-item
        a(href="product-detail.html")
            .product-item__image
                img(src=printer.image alt=printer.title) 
            .product-item__content
                h3.product-item__title #{printer.title} 
                .product-item__info
                    .product-item__info-item Chức năng: <b>#{printer.function}</b>
                    .product-item__info-item Khả năng: <b>#{printer.ability}</b>
                .product-item__status.status--active #{printer.status}